#### Practice on Income Dataset
##### Define functions for the following data points
    - Average Income of all states from 2005 to 2013
    - State with highest average income in the last three years
    - State with lowest average income from 2007 to 2010(inclusive)
    - Print the list of all states in the same line with average income less than California
    - Print the names of states based on descending order of income in the year 2009
    - State with the lowest recorded income from 2005 to 2013

In [1]:
import pandas as pd
filepath = 'DataFiles/Income.csv'
def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)
incomedf=pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,888888,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,888888,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [24]:
# Average Income of all states from 2005 to 2013
def averageIncomeOfAllStates(startYear,endYear):
    l=[]
    for i in range(len(incomedf.columns)):
        if incomedf.columns[i] == startYear : 
            startindex = i
            #print(startindex)
        elif incomedf.columns[i] == endYear : 
            endindex = i
            #print(endindex)
    # len(incomedf.values)
        
    for i in range(startindex,endindex+1):        
        for data in incomedf.values:
            #print(data[i])
            #print(data[i],end=" ")
            l.append(data[i])            
    #print(sum(l))
    a=sum(l)//len(l)    
    print("Average Income of all states from {} to {} : {} ".format(startYear,endYear,a))
        
        #print(i[startindex],i[endindex])
averageIncomeOfAllStates('2005','2013')

Average Income of all states from 2005 to 2013 : 85963

In [47]:
# State with highest average income in the last three years
def stateHighestAverageIncomeLast3Year(lastYears):
    averageLast3Years=[]
    for i in range(len(incomedf.values)):
        last3Years=[]
        for j in range(lastYears+1):
            if j!=0:
                last3Years.append(incomedf.values[i][-j])
                #print(incomedf.values[i][-j], end=" ")
            #elif j == 0 :
            #   print(incomedf.values[i][1])
        averageLast3Years.append(sum(last3Years)//len(last3Years))
    nameIndex=averageLast3Years.index(max(averageLast3Years))
    print("\n'{}' State with highest average income in the last {} years : '{}'".format(incomedf.values[nameIndex][1],lastYears,max(averageLast3Years)))
stateHighestAverageIncomeLast3Year(3)

'Alaska' State with highest average income in the last 3 years : '60738'

In [69]:
# State with lowest average income from 2007 to 2010(inclusive)
def stateLowestAverageIncomeRange(lowYear,highYear):
    for i in range(len(incomedf.columns)):
        if incomedf.columns[i] == lowYear:
            #print(incomedf.columns[i],i)
            startindex = i
        elif incomedf.columns[i] == highYear:
            #print(incomedf.columns[i],i)
            endindex=i+1
    for i in range(startindex,endindex):
        for data in incomedf.values:
            print(data[i])
        
            print(data)
        #print("\n")
#     for i in range(len(incomedf.values)):
#         print(incomedf.values[i])
stateLowestAverageIncomeRange('2007','2010')

42212
['04000US01' 'Alabama' 888888 37952 42212 44476 39980 40933 42590 43464
 41381]
62993
['04000US02' 'Alaska' 888888 56418 62993 63989 61604 57848 57431 63648
 61137]
47215
['04000US04' 'Arizona' 45245 46657 47215 46914 45739 46896 48621 47044
 50602]
40795
['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
 39919]
55734
['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367 57020
 57528]
44476
['04000US01' 'Alabama' 888888 37952 42212 44476 39980 40933 42590 43464
 41381]
63989
['04000US02' 'Alaska' 888888 56418 62993 63989 61604 57848 57431 63648
 61137]
46914
['04000US04' 'Arizona' 45245 46657 47215 46914 45739 46896 48621 47044
 50602]
39586
['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
 39919]
57014
['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367 57020
 57528]
39980
['04000US01' 'Alabama' 888888 37952 42212 44476 39980 40933 42590 43464
 41381]
61604
['04000US02' 'Alaska' 888888 56418 62993 63989 61604 57848 57431 63648
 61137]
45739
['04000US04' 'Arizona' 45245 46657 47215 46914 45739 46896 48621 47044
 50602]
36538
['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
 39919]
56134
['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367 57020
 57528]
40933
['04000US01' 'Alabama' 888888 37952 42212 44476 39980 40933 42590 43464
 41381]
57848
['04000US02' 'Alaska' 888888 56418 62993 63989 61604 57848 57431 63648
 61137]
46896
['04000US04' 'Arizona' 45245 46657 47215 46914 45739 46896 48621 47044
 50602]
38587
['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
 39919]
54283
['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367 57020
 57528]

In [80]:
# State with lowest average income from 2007 to 2010(inclusive)
def stateLowestAverageIncomeRange2(lowYear,highYear):
    averagelowestLastYears=[]
    for i in range(len(incomedf.columns)):
        if incomedf.columns[i] == lowYear:
            #print(incomedf.columns[i],i)
            startindex = i
        elif incomedf.columns[i] == highYear:
            #print(incomedf.columns[i],i)
            endindex=i+1
    
    for i in range(len(incomedf.values)):
        lowRangeYears=[]
        for j in range(startindex,endindex):
            if j!=0:
                lowRangeYears.append(incomedf.values[i][j])
                #print(incomedf.values[i][j], end=" ")        
        #print("\n")
            #elif j == 0 :
            #   print(incomedf.values[i][1])
        averagelowestLastYears.append(sum(lowRangeYears)//len(lowRangeYears))
        #print(averagelowestLastYears)
    nameIndex=averagelowestLastYears.index(min(averagelowestLastYears))
    print("\n'{}' State with lowest average income from '{}' to '{}' (inclusive) : {}".format(incomedf.values[nameIndex][1],lowYear,highYear,min(averagelowestLastYears)))
stateLowestAverageIncomeRange2('2007','2010')

'Arkansas' State with lowest average income from '2007' to '2010' (inclusive) : 38876